<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>882077922348-1bvkae332mvuck0lelspp8dilvve9sg9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.882077922348-1bvkae332mvuck0lelspp8dilvve9sg9</string>
	<key>API_KEY</key>
	<string>AIzaSyDrRlwfhPI5ScwH8WqLVrXhiibm3SssmLE</string>
	<key>GCM_SENDER_ID</key>
	<string>882077922348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.questkids.questkids</string>
	<key>PROJECT_ID</key>
	<string>questkids-mobile</string>
	<key>STORAGE_BUCKET</key>
	<string>questkids-mobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:882077922348:ios:47caa192c020c507a5cd89</string>
</dict>
</plist>